h1 {
    text-align: center;
}

#username-1, #username-2 {
    width: 70%;
}

#results {
    border: solid 2px black;
    height: 200px;
}

#textBox {
    margin: 0 auto 10px;
    border: solid 2px black;
    height: 200px;
    width: 65%;
    overflow: auto;
}

#typeText {
    margin: auto;
    width: 65%;
}

#chat-input {
    width: 84%;
}

#player1 {
    height: 200px;
}

#send {
    width: 13%;
}

.buttonDiv {
    margin: 10px 40%;
}

#waiting1, #waiting2, #directions1, #directions2, #welcomeText1, #welcomeText2 {
    margin: 0px auto 15px;
    text-align: center;
}